---
import TagTech from './TagTech.astro'
interface Props {
  title: string
  description: string
  listTech: ReadonlyArray<{
    name: string
    Icon: (_props: Record<string, any>) => any
    bg: string
  }>
  img?: string
}

const {
  title,
  description,
  img = 'https://denisechandler.com/wp-content/themes/portfolio_oct2021/images/banner_bkg.jpg',
  listTech,
} = Astro.props
---

<div class="card">
  <div class="info-card">
    <h2 class="title">{title}</h2>
    <p class="description">{description}</p>
    <h3 class="subtitle">Tecnologías</h3>
    <ul class="list-tech">
      {
        listTech?.map(({ name, Icon, bg }) => (
          <TagTech
            name={name}
            bg={bg}>
            <Icon
              width="1.5rem"
              height="1.5rem"
            />
          </TagTech>
        ))
      }
    </ul>
    <div class="links">
      <!-- llamar mas la atencion -->
      <a href="">ver demo</a>
      <!-- no llamar tanto la atencion -->
      <a href="">ver código</a>
    </div>
  </div>
  <img
    src={img}
    alt=""
    class="img-card"
  />
</div>

<style>
  .card {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 500px 700px;
    align-items: center;
    gap: 20px;
    padding: 30px;
    animation-name: introImg;
    animation-timeline: view(y 20% 20%);
    /* animation-duration: 2s; */
    --right: 250px;
    --opacity: 0;
    --top: 15px;
  }
  .info-card {
    padding: 30px;
    transition: 0.5s;
    opacity: var(--opacity);
    translate: 0 var(--top);
  }
  .img-card {
    aspect-ratio: 2/1.5;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 15px;
    translate: var(--right);
    transition: 0.5s;
    opacity: var(--opacity);
  }

  .title {
    margin-bottom: 1rem;
  }
  .description {
    margin-block: 0.5rem;
  }
  .subtitle {
    margin-block: 0.7rem;
  }
  .list-tech {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: relative;
  }
  .links a::before {
    content: '→';
    position: absolute;
    left: -5px;
    transition: 0.1s;
    opacity: 0;
  }

  .links a:hover::before {
    opacity: 1;
    animation: arrow 0.5s infinite alternate;
  }

  @keyframes arrow {
    to {
      translate: 0;
    }
    from {
      translate: 3px;
    }
  }

  /* cambio de propiedades */
  @keyframes introImg {
    from {
      --right: 250px;
    }

    to {
      --right: 0px;
      --opacity: 1;
      --top: 0;
    }
  }
</style>
