---
import GithubIcon from '../assets/icons/tech/GithubIcon.astro'
import TagTech from './TagTech.astro'
interface Props {
  title: string
  description: string
  listTech: ReadonlyArray<{
    name: string
    Icon: (_props: Record<string, any>) => any
    bg: string
  }>
  img: string
  links: {
    demo: string
    code: string
  }
}

const { title, description, img, listTech, links } = Astro.props
---

<div class="card">
  <picture class="img-card">
    <source
      srcset={`${img}.avif`}
      type="image/avif"
    />
    <source
      srcset={`${img}.webp`}
      type="image/webp"
    />
    <source
      srcset={`${img}.png`}
      type="image/png"
    />
    <img
      loading="lazy"
      src={`${img}.jpg`}
      alt={title}
      width="705"
      height="441"
    />
  </picture>
  <div class="info-card">
    <h2 class="title">{title}</h2>
    <p class="description">{description}</p>
    <h3 class="subtitle">Tecnologías</h3>
    <ul class="list-tech">
      {
        listTech?.map(({ name, Icon, bg }) => (
          <TagTech
            name={name}
            bg={bg}>
            <Icon
              width="1.5rem"
              height="1.5rem"
            />
          </TagTech>
        ))
      }
    </ul>
    <div class="links">
      <a
        href={links.code}
        target="_blank"
        rel="noopener noreferrer">
        <GithubIcon />
      </a>
    </div>
  </div>
</div>

<style>
  @keyframes preview-letter {
    from {
      translate: 0 0.5rem;
    }
  }

  .card {
    width: 100vw;
    height: 100vh;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    view-timeline: --card-timeline block;
    margin-block: 3rem;

    .info-card {
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, black 10%, transparent);
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      justify-content: center;
      padding: 24px;

      opacity: 0;
      animation: opacity-text;
      animation-timeline: --card-timeline;
      animation-duration: 1s;
      animation-range: entry 80% contain 10%;
      animation-fill-mode: both;

      & .description {
        max-width: max(250px, 50%);
        /* font-size: 12px; */
      }

      & > * {
        animation: top-text;
        animation-timeline: --card-timeline;
        animation-duration: 1s;
        animation-range: entry 80% contain 10%;
        animation-fill-mode: both;
      }

      .links {
        position: absolute;
        right: 24px;
        top: 24px;
        display: flex;
        flex-direction: column;

        & > a {
          padding: 0.5rem 1rem;
          color: var(--text);
          background: rgb(255 253 253 / 41%);
          display: grid;
          place-content: center;
          padding: 11px;
          border-radius: 39px;
          transition: 250ms;

          &:hover {
            background: rgb(255 253 253 / 100%);
            color: var(--bg);
          }
        }
      }
    }

    .img-card {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      height: 100%;

      & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        object-fit: cover;
        width: 100%;
        height: 100%;

        animation: card-zoom;
        animation-timeline: --card-timeline;
        animation-duration: 100ms;
        animation-range: entry 0% contain 5%;
        animation-fill-mode: both;
        border-radius: 24px;
      }
    }
  }

  .list-tech {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
  }

  @keyframes top-text {
    from {
      translate: 0 10rem;
    }
    to {
      translate: 0 0rem;
    }
  }

  @keyframes opacity-text {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes card-zoom {
    from {
      width: 70%;
      height: 70%;
    }
    to {
      width: 100%;
      height: 100%;
    }
  }
</style>

<style is:global>
  .links > a > svg {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
  }
</style>
