---
import listProject from '../const/projects'
import Card from './Card.astro'
---

<section class="projects">
  {
    listProject.map(({ title, description, img, tag, links }) => (
      <Card
        title={title}
        description={description}
        img={`/img/proyects/${img}/${img}`}
        listTech={tag}
        links={links}
      />
    ))
  }
</section>

<style>
  .projects {
    align-items: center;
    justify-content: space-between;
    color: var(--text);
    position: relative;
    scroll-timeline: --project y;
    max-width: 100dvw;
    margin-block: 2rem;
  }
</style>
