---
interface Props {
  title: string
}
const { title } = Astro.props

import '../styles/global.css'

const Description =
  'Soy Camilo Torres, desarrollador web. Con conocimientos en React, Vue.js, Node.js y más, estoy listo para llevar tu proyecto al siguiente nivel.'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>

    <link
      rel="shortcut icon"
      href="/icons/favicon/icon-web-b.svg"
      type="image/x-icon"
    />

    <link
      rel="canonical"
      href="https://camiloitt.vercel.app"
    />

    <meta
      name="keywords"
      content="Camilo Torres, camiloitt, CAMILOITT, desarrollador, desarrollador web, fullstack, front-end, back-end, developer, portfolio, fullstack developer"
    />

    <meta
      name="description"
      content={Description}
    />

    <!-- Open Graph / Facebook -->
    <meta
      property="og:title"
      content={title}
    />
    <meta
      property="og:description"
      content={Description}
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:site_name"
      content={title}
    />
    <meta
      property="og:url"
      content="https://camiloitt.vercel.app"
    />

    <meta
      property="og:image"
      content="/img/meta/web.webp"
    />

    <!-- Twitter -->

    <meta
      property="twitter:title"
      content={title}
    />
    <meta
      property="twitter:card"
      content="summary_large_image"
    />
    <meta
      property="twitter:url"
      content="https://camiloitt.vercel.app"
    />
    <meta
      property="twitter:description"
      content={Description}
    />

    <meta
      property="twitter:image"
      content="/img/meta/web.webp"
    />

    <link
      rel="preload"
      as="font"
    />
  </head>
  <body>
    <slot />
  </body>

  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</html>
